<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/css/regular.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FreelaCookies</title>
  <link rel="stylesheet" href="perfil.component.css">
</head>
<body>
    <div class="orange-rectangle">
        <header>
            <div>
                <h1 class="saira-stencil-one-regular">FreelaCookies</h1>
            </div>
            <div class="login-icon">
                <a href="/login.html"><i class="fa-regular fa-circle-user fa-2xl"></i></a>
            </div>
        </header>
    </div>
  <div class="container">
    
  </div>
</body>
</html>
